* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 25px; /* mais espaço entre os cards */
    justify-content: center;
    
    margin-top: 120px; /* DESCENDO os cards mais para baixo */
}

/* Cards menores com hover seguro */
.card {
    flex: 1 0 calc(9% - 25px); /* menor que antes */
    max-width: calc(9% - 25px);
    background-color: #1f1f1f;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

/* Hover do card */
.card:hover {
    transform: scale(1.1); /* zoom suave */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7); /* sombra elegante */
    z-index: 10; /* garante que fique acima dos outros */
}

/* Responsividade */
@media (max-width: 1200px) {
    .card { flex: 1 0 calc(13% - 25px); max-width: calc(13% - 25px); }
}
@media (max-width: 900px) {
    .card { flex: 1 0 calc(20% - 25px); max-width: calc(20% - 25px); }
}
@media (max-width: 600px) {
    .card { flex: 1 0 calc(45% - 25px); max-width: calc(45% - 25px); }
}
@media (max-width: 400px) {
    .card { flex: 1 0 100%; max-width: 100%; }
}
.aviso-player {
    text-align: center;      /* centraliza horizontalmente */
    font-size: 0.9rem;       /* fonte menor */
    color: #bbbbbb;          /* cinza claro para não chamar muita atenção */
    margin-top: 40px;        /* espaço acima da frase */
    line-height: 1.4;        /* deixa a leitura mais confortável */
}
.aviso-playerr {
    text-align: center;      /* centraliza horizontalmente */
    font-size: 0.9rem;       /* fonte menor */
    color: #ff0000;          /* cinza claro para não chamar muita atenção */
    line-height: 1.4;        /* deixa a leitura mais confortável */
}
